.detailContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url('../../images/Detalle.jpg');
}

.Detail {
  width: 35vw;
  height: 70vh;
  display: flex;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 30px;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  flex-direction: column;
}

.temperamentTexts {
  display: flex;
  flex-direction: column;
}

.backButton {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.45);
  color: white;
  width: 5vw;
  height: 5vh;
  border-radius: 10px;
  margin: 1rem 0 0 1rem;
  cursor: pointer
}