.formContainer {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),  url('../../images/Formulario.jpg');
}

.formData {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.45);
    border-radius: 30px;
    padding: 3rem;
}

.inputFrom {
    width: 100%;
}

.inputSelect {
    width: 100%;
}

.formLabel {
    color: white;
    font-size: 1.5rem;
}

.submitButton {
    margin-top: 2rem;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 10px;
    color: white;
    border: none;
    height: 5vh;
    width: 50%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;
}

.errorText {
    color: rgb(195, 1, 1);
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
}